<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>

<div class="boton">
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Registrate!
    </button>
    <button  (click)="showFiller = !showFiller" mat-raised-button>
     Cursos
    </button>
  </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="titulo">Good learning</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <div class="p-3">
      <router-outlet></router-outlet>
      <app-users></app-users>
    </div>
  </div>

</mat-drawer-container>
