<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
<mat-nav-list>
  <a  #homeLink="routerLinkActive"
  routerLinkActive
  [activated]="homeLink.isActive"
   routerLink="dashboard" mat-list-item>Inicio</a>

  <a
  #usersLink="routerLinkActive"
  routerLinkActive
  [activated]="usersLink.isActive"
   routerLink="dashboard/users"
   mat-list-item>Usuarios</a>

   <a
  #cursosLink="routerLinkActive"
  routerLinkActive
  [activated]="cursosLink.isActive"
   routerLink="dashboard/cursos"
   mat-list-item >Cursos</a>

  <a    (click)="logout()" mat-list-item>Cerrar sesion</a>

</mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="titulo">Good learning</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <div class="p-3">
      <router-outlet></router-outlet>

    </div>
  </div>

</mat-drawer-container>
